<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="https://openclipart.org/image/2400px/svg_to_png/24793/Anonymous-Paper-4-icon.png" class="brand_logo" alt="Logo"> </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <form>
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control input_user", :placeholder => "email" %>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", :class => "form-control input_pass", :placeholder => "password" %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :remember_me %>&nbsp
                  <%= f.label :remember_me %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <%= f.submit "Log in", :class => "btn login_btn" %>
          </div>
        <% end %>
        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            Don't have an account? <a href="#" class="ml-2">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center links">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
