<!-- Date Picker sourced from https://jqueryui.com/datepicker/ -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    table = document.getElementById("shiftTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  
  //Setup Datepicker functionality.
  $(function() {
    $("#datepicker").datepicker();
  });
</script>
<div class="container-fluid" >
  <div class="organisation-header">
    <br>
    <span style="font-size: 14pt"><strong> Displaying shifts for <%= @organisation.name %></span></strong>
    <br>
  </div>
  <br>
  <input type="text" id="search" onkeyup="myFunction()" placeholder="Search for names..">
  <table id="shiftTable">
    <tr class="header">
      <th>Employee Name</th>
      <th>Shift date</th>
      <th>Start time</th>
      <th>Finish time</th>
      <th>Break length (minutes)</th>
      <th>Hours Worked</th>
      <th>Shift cost</th>
    </tr>
    <% @organisation.users.each do |user| %>
      <% user.shifts.each do |shift| %>
        <tr>
          <td><%= user.name %></strong></td>
        <td><%=shift.start.to_date.strftime("%e/%m/%Y") %></td>
        <td><%= shift.start.to_time.strftime("%I:%M%p")%></td>
        <td><%= shift.finish.to_time.strftime("%I:%M%p") %></td>
        <td><%= shift.breaklength %></td>
        <% shiftLength = number_with_precision(((shift.finish - shift.start) / 60), :precision => 2)%>
        <% hoursWorked = number_with_precision((shiftLength.to_f - shift.breaklength.to_f), :precision => 2)%>
        <td>
          <%= number_with_precision((hoursWorked.to_f / 60), :precision => 2) %></td>
        <td>$<%= number_with_precision((@organisation.hourly_rate.to_f * (hoursWorked.to_f / 60).to_f), :precision => 2)%></td>
      </tr>
    <% end %>
  <% end %>
  <!-- Create shift section at bottom of table -->
  <tr>
    <%= form_with(model: @shift, local: true) do |form| %>
      <td><%= current_user.name %></td>
      <% if @shift.errors.any? %>
        <div id="error_explanation">
          <% @shift.errors.full_messages.each do |msg| %>
            <span style="color: red"><strong>Notice: </strong></span>
            <%= msg %><br>
          <% end %>
        </div>
      <% end %>
      <td><%= form.text_field :shift_date, id: 'datepicker'%></td>
      <td><%= form.text_field :start_time %></td>
      <td><%= form.text_field :end_time %></td>
      <td><%= form.text_field :break_length %></td>
      <td colspan = '2'><%= form.submit "Update" %></td>
    <% end %>
  </tr>
</table>
